<div class="row" >
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#" data-target="#tab_1_1" data-toggle="tab">Personal Info</a>
					</li>
					<li>
						<a href="#" data-target="#tab_1_2" data-toggle="tab">Change Avatar</a>
					</li>
					<li>
						<a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
					</li>
					<li>
						<a href="#" data-target="#tab_1_4" data-toggle="tab">Privacy Settings</a>
					</li>
				</ul>
			</div>
			<div class="portlet-body" data-ng-controller="UserController">
				<div class="tab-content">
					<!-- PERSONAL INFO TAB -->
					<div class="tab-pane active" id="tab_1_1" >
						<form role="form" action="#" method="POST">
							<div class="form-group">
								<label class="control-label">userName</label>
								<input type="text" placeholder={{principal.username}} class="form-control" name="mobilephone" data-ng-model="user.userName" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label class="control-label">Mobile Phone</label>
								<input class="form-control placeholder-no-fix" type="text" placeholder={{principal.mobilePhone}} name="mobilephone" data-ng-model="user.mobilePhone"/>
							</div>
							<div class="form-group">
								<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
								<label class="control-label">Email</label>
								<input class="form-control placeholder-no-fix" type="text" placeholder={{principal.email}} name="email" data-ng-model="user.email"/>
							</div>
							<div class="margiv-top-10">
								<button type="button" class="btn green-haze" data-ng-click="savePersonalInfo();">Save Changes</button>
							
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div> 
					<!-- END PERSONAL INFO TAB -->
					
					<!-- CHANGE AVATAR TAB -->
					<div class="tab-pane" id="tab_1_2">
						<form action="#" role="form" method="POST">
							<div class="form-group">
							<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
								<img ng-src="{{image.posterURI}}">
							</div>
								<div ng-file-select="uploadPoster">
									<input type="file" name="file" accept="image/*" >
								</div>
								<div class="clearfix margin-top-10">
									<span class="label label-danger">NOTE! </span>
									<span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
								</div>
							</div>
							<div class="margin-top-10">
								<button type="button" class="btn green-haze" data-ng-click="changeImage();">Submit</button>
							
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div>
					<!-- END CHANGE AVATAR TAB -->
					<!-- CHANGE PASSWORD TAB -->
					<div class="tab-pane" id="tab_1_3">
						<form action="#">
							<div class="form-group">
								<label class="control-label">Current Password</label>
								<input type="password" class="form-control"/>
							</div>
							<div class="form-group">
								<label class="control-label">New Password</label>
								<input type="password" class="form-control"/>
							</div>
							<div class="form-group">
								<label class="control-label">Re-type New Password</label>
								<input type="password" class="form-control"/>
							</div>
							<div class="margin-top-10">
								<a href="#" class="btn green-haze">
								Change Password </a>
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div>
					<!-- END CHANGE PASSWORD TAB -->
					<!-- PRIVACY SETTINGS TAB -->
					<div class="tab-pane" id="tab_1_4">
						<form action="#">
							<table class="table table-light table-hover">
								<tr>
									<td>
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
									</td>
									<td>
										<label class="uniform-inline">
										<input type="radio" name="optionsRadios1" value="option1"/>
										Yes </label>
										<label class="uniform-inline">
										<input type="radio" name="optionsRadios1" value="option2" checked/>
										No </label>
									</td>
								</tr>
								<tr>
									<td>
										Enim eiusmod high life accusamus terry richardson ad squid wolf moon
									</td>
									<td>
										<label class="uniform-inline">
										<input type="checkbox" value=""/> Yes </label>
									</td>
								</tr>
								<tr>
									<td>
										Enim eiusmod high life accusamus terry richardson ad squid wolf moon
									</td>
									<td>
										<label class="uniform-inline">
										<input type="checkbox" value=""/> Yes </label>
									</td>
								</tr>
								<tr>
									<td>
										Enim eiusmod high life accusamus terry richardson ad squid wolf moon
									</td>
									<td>
										<label class="uniform-inline">
										<input type="checkbox" value=""/> Yes </label>
									</td>
								</tr>
							</table>
							<!--end profile-settings-->
							<div class="margin-top-10">
								<a href="#" class="btn green-haze">
								Save Changes </a>
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div>
					<!-- END PRIVACY SETTINGS TAB -->
				</div>
			</div>
		</div>
	</div>
</div>