<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>
			/WEB-INF/log4j.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- Spring applicationContext.xml loading -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/applicationContext.xml
			/WEB-INF/spring-configuration/*.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
    <listener>  
	    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>  
	</listener>
	
    
    <filter>
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
		<init-param>
			<param-name>cors.supportedMethods</param-name>
			<param-value>GET,POST,HEAD,PUT,DELETE</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CORS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Character Encoding -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Spring 处理HibernateSession的过滤器 <filter> <filter-name>OpenSessionFilter</filter-name> 
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class> 
		<init-param> <param-name>singleSession</param-name> <param-value>true</param-value> 
		</init-param> <init-param> <param-name>flushMode</param-name> <param-value>AUTO</param-value> 
		</init-param> </filter> -->
	<filter>
		<filter-name>OpenSessionFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>AUTO</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionFilter</filter-name>
		<url-pattern>/web/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionFilter</filter-name>
		<url-pattern>/login.shtml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionFilter</filter-name>
		<url-pattern>/logout.shtml</url-pattern>
	</filter-mapping>

	

	<!-- 浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http delete方法 -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>REST</servlet-name>
	</filter-mapping>
	<!-- Spring servlet DispatcherServlet -->
	<servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext-rest.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>